<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" /> 
  <script src="https://cdn.bootcss.com/inobounce/0.2.0/inobounce.js"></script>
  <title>Your App</title>
</head>
<body>
  <div id="root"></div>
  <script>
    !function(n){
      var  e=n.document,
      t=e.documentElement,
      i=720,
      d=i/100,
      o="orientationchange"in n?"orientationchange":"resize",
      a=function(){
          var n=t.clientWidth||320;n>720&&(n=720);
          t.style.fontSize=n/d+"px"
      };
      e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))
    }(window);
  </script>

</body>
</html>